<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=UTF-8"/>
    <title>Welcome to the in2it family</title>
    <style type="text/css" media="screen, tv">
        body {
            margin: 0;
            padding: 0;
            font-family: Helvetica, Arial, Sans-serif;
        }
        .in2it-orange, a {
            color: #e59500;
        }
        .in2it-organge-dark, a:hover {
            color: #c37300;
        }
        .in2it-orange-bg {
            background-color: #e59500;
        }
        .in2it-orange-black-bg {
            background-color: #c37300;
        }

        .email-top {
            font-size: 85%;
        }
        .email-footer {
            font-size: x-small;
            background: gray;
            color: white;
        }
    </style>
</head>
<body>
    <!-- Wrapper for spacial positioning -->
    <table id="email-wrapper" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr valign="top">
            <td align="center">

                <table class="email-content" width="550" cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td width="225" align="left">
                            <p class="email-top" id="email-abstract">Welcome mail for new customers</p>
                        </td>
                        <td width="225" align="right">
                            <p class="email-top" id="email-viewonline"><a href="https://www.in2it.be/campaign/?b7bbbca5a30de9f41f7fde2cb948c9d466ace601"
                                  title="View this email online" target="_blank">View this email online</a></p>
                        </td>
                    </tr>
                </table>

                <!-- main content block -->
                <table class="email-content" width="550" cellspacing="0" cellpadding="0" border="0">

                    <!-- campaign banner -->
                    <tr valign="top">
                        <td width="550" align="center"><img src="{{header}}" alt="in2it" width="550" height="150"></td>
                    </tr>

                    <!-- above the fold content -->
                    <tr valign="top">
                        <td width="550">
                            <p class="email-content">Welcome Michelangelo,
                                <br>
                                <br>
                                <br>
                                We are very pleased welcoming you to the <span class="in2it-orange">in2it</span> family. In the past years we have
                                worked hard to improve our customer satisfaction with the result doing business with you.</p>
                            <p class="email-content">In order to prevent misuse of our registration process, we would ask you
                            to verify and activate your <span class="in2it-orange">in2it</span> account by clicking on the button below.</p>
                            <p class="email-content"><center><a href="https://www.in2it.be/campaign/?31814b545c51bd028082ba25b8ed67661e3be6cb" title="Activate your account" target="_blank"><img src="{{activate}}" width="200" height="73" alt="Activate your account"></a></center></p>
                        </td>
                    </tr>

                    <!-- below the fold content -->
                    <tr valign="top">
                        <td width="550"><hr></td>
                    </tr>
                    <tr valign="top">
                        <td width="550">

                            <p><strong>New training courses</strong></p>

                            <table class="email-content" width="550" cellspacing="1" cellpadding="2" border="0">

                                <tr valign="top">
                                    <th width="183" class="in2it-organge-dark" align="left">Azure PHP</th>
                                    <th width="184" class="in2it-organge-dark" align="left">Zend Framework2</th>
                                    <th width="183" class="in2it-organge-dark" align="left">PHP7</th>
                                </tr>
                                <tr valign="top">
                                    <td width="183"><p>Learn how to deploy your web applications on Microsoft Azure with our hands-on training lab.</p></td>
                                    <td width="184"><p>Zend Framework2 is the leading PHP framework for enterprises. This training will give you deep knowledge to get you started immediately.</p></td>
                                    <td width="183"><p>In this training you will learn the new tricks and also how to port your existing application to PHP7 painlessly.</p></td>
                                </tr>
                                <tr valign="top">
                                    <td width="183" align="center"><a href="https://www.in2it.be/campaign/?51d80c7a59d5c19eba6bdd28d74eef0f492625a7" title="View more details" target="_blank"><img src="{{details}}" width="102" height="52" alt="View details"></a></td>
                                    <td width="184" align="center"><a href="https://www.in2it.be/campaign/?5629ef3eee68f70de32f79d3aefaadf5d30024e9" title="View more details" target="_blank"><img src="{{details}}" width="102" height="52" alt="View details"></a></td>
                                    <td width="183" align="center"><a href="https://www.in2it.be/campaign/?40224436bf5ae0628773e4abfbcf8a2ab2491382" title="View more details" target="_blank"><img src="{{details}}" width="102" height="52" alt="View details"></a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- footer -->
                    <tr valign="top">
                        <td width="550" align="center">
                            <table id="email-footer-wrapper" class="email-footer" cellspacing="0" cellpadding="3" border="0">
                                <tr valign="top">
                                    <td width="550">
                                        <table id="email-footer" class="email-footer" cellspacing="0" cellpadding="3" border="0">
                                            <tr valign="middle">
                                                <td width="500">
                                                    <p class="email-footer in2it-orange-bg">This email was sent to you by in2it VOF, Battelsesteenweg 134, 2800 Mechelen, Belgium
                                                        because you provided us with your contact details.<br>
                                                        If you don't want to recieve this kind of messages from us, please let us know and
                                                        <a href="https://www.in2it.be/campaign?df8e093234de003ef4d8751db6cb7040ad8732be&action=unsubscribe" title="Unsubscribe"
                                                           target="_blank">unsubscribe</a> from our mailing list and will no longer send you commercial messages.</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table><!-- /.email-content -->

            </td>
        </tr>
    </table><!-- /#email-wrapper -->
    </img src="https://www.in2it.be/images/pixel.png" width="1" height="1" alt="Email-check">
</body>
</html>